{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
    	<div>
    		<div>
	        	<h1>{{ post.title }}</h1>
		        <a style="float: right" class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
	        </div>
	        <div style="margin-bottom: 30px">
		        {% if post.published_date %}
		            <div style="display: inline" class="date">
		                {{ post.published_date }}
		            </div>
		        {% endif %}
	        </div>
        </div>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}